extends _layouts/default

block styles
  link(rel='stylesheet', href="/index.css")
  link(rel='stylesheet', href="/public/css/skin.simple.css")
  link(rel='stylesheet', href="/public/css/skin.fancy.css")

block content
  .container
    .row
      .span10.offset2
        p Class diagram is coming soon, too.
        
        :jumly(type=class)
          @def "Hi"
          @def "A"
            attrs: []
